{% extends 'base.html.twig' %}
{% block title %}Add comment{% endblock %}
{% block body %}
    <div class="container">
        <div class="row d-flex justify-content-center" style="margin: 50px">
            <div class="col-md-6 col-md-offset-6 ">
                <div class="add_category">
                    {{ form_start(form)}}

                    <div>{{ form_label(form.description) }}
                        {{ form_widget(form.description) }}
                        {{ form_errors(form.description) }}
                    </div>
                    <div>
                        {{ form_widget(form.add ) }}
                    </div>
                    {{ form_end(form) }}

                </div>
            </div>

        </div>
    </div>

{% endblock %}