{% extends 'base.html.twig' %}
{% block title %}Log in!{% endblock %}

{% block body %}
    {{ app.user.id }}
    <div class="add_category">
    {{ form_start(form, { 'action': path('add_category'), 'method': 'POST',
        'attr': { 'novalidate': 'novalidate'} }) }}
    {{ form_errors(form) }}
    {{ form_row(form.title) }}
    <div>  {{ form_label(form.description) }}
        {{ form_errors(form.description) }}
        {{ form_widget(form.description) }}
    </div>
    {{ form_row(form.subject) }}
    {{ form_widget(form.add, {attr: {class: 'btn'}}) }}
    {{ form_end(form) }}
    </div>

{% endblock %}