{% extends 'base.html.twig' %}
{% block title %}Collection list{% endblock %}
{% block body %}
    <div class="container">
        <div class="row" style="margin-top:50px">
            <div class="col">
                {% if (is_granted('ROLE_USER') and  userId == app.user.id) or is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('category_new') }}" class="btn btn-dark">Add new collection</a>
                {% endif %}
                <table class="table">
                    <thead>
                    <tr>
                        <th></th>
                        <th scope="col">title</th>
                        <th scope="col">description</th>
                        <th scope="col">subject</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for category in categoryList %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ category.title }}</td>
                            <td>{{ category.description }}</td>
                            <td>{{ category.subject }}</td>
                            <td><a href="{{ path('category_show',{'id':category.id}) }}" class="btn btn-dark">Show</a>
                                {% if (is_granted('ROLE_USER') and  category.user.id == app.user.id) or is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('category_edit',{'id':category.id}) }}" class="btn btn-outline-dark">Edit</a>
                                <a href="{{ path('category_delete',{'id':category.id}) }}"
                                   class="btn btn-danger">Delete</a></td>
                            {% endif %}
                        </tr>
                    {% else %}
                        <div>No collection</div>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}


