{% extends 'base.html.twig' %}
{% block title %}Collection list{% endblock %}
{% block body %}
    <div class="container">
        <div class="row" style="margin-top:50px">
            <div class="col">
                <a href="{{ path('category_new') }}">Add new collection</a>
                <table class="table">
                    <thead>
                    <tr>
                        <th></th>
                        <th scope="col">title</th>
                        <th scope="col">description</th>
                        <th scope="col">subject</th>
                        <th scope="col">image</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for category in categoryList %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ category.title }}</td>
                            <td>{{ category.description }}</td>
                            <td>{{ category.subject }}</td>
                            <td>{{ category.image }}</td>
{#                            {{ form_start(form, {'action': path('target_route'), 'method': 'GET'}) }}#}
                            <td><a href="{{ path('category_show',{'id':category.id}) }}" class="btn btn-dark">Show</a>
                                <a href="{{ path('category_edit',{'id':category.id}) }}" class="btn btn-outline-dark">Edit</a>
                                <a href="{{ path('category_delete',{'id':category.id}) }}"
                                   class="btn btn-danger">Delete</a></td>
                        </tr>
                    {% else %}
                        <div>No collection</div>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}


