{% extends 'base.html.twig' %}
{% block title %}Collection list{% endblock %}
{% block body %}
<div class="container">
    <div>{{ category.title }}</div>
    <div><a href="{{ path('item_add',{'id':category.id}) }}" class="btn btn-dark">Add item</a></div>
    <div class="container">
        <div class="row" style="margin-top:50px">
            <div class="col">
                {% for item in items %}
                    <div class="card" style="width: 18rem;">
                        <div class="card-body t-1">
                            <h5 class="card-title">{{ loop.index }}.{{ item.title }} </h5>
                            <h6 class="card-subtitle mb-2 text-muted"></h6>
                            {% for field in  item.itemCustomFields %}
                                <b>{{ field.field }}</b>
                                <p>{{ field.value }} </p>
                            {% endfor %}
                            <a href="{{ path('item_show',{'id':item.id}) }}" class="btn btn-dark">Show</a>
                            <a href="{{ path('item_delete',{'category_id':category.id, 'id':item.id}) }}"
                               class="btn btn-danger">Delete</a>
                        </div>

                    </div>
                {% endfor %}

            </div>
        </div>
    </div>
</div>
    {% endblock %}
