<nav class="navbar bd-highlight  navbar-dark bg-dark">
    <div class=" me-auto p-2 bd-highlight">
    <a class="navbar-brand" href="{{ path('main') }}">Main</a>
    </div>
    <div class=" d-flex justify-content-between p-2 bd-highlight" >
        <ul class=" navbar-nav me-4">
            <li class="nav-item ">
                {% if is_granted('ROLE_USER') %}
                <a class="nav-link" href="{{ path('category_list', {'userId':app.user.id}) }}"> {{ app.user.name }} profile</a>
                {% endif %}
            </li>
        </ul>
        <div>
            {% if is_granted('ROLE_USER') %}
            <a role="button" href="{{ path('logout') }}" class="btn btn-light my-2 my-sm-0" type="submit">Logout</a>
            {% else %}
                <a role="button" href="{{ path('form_login') }}" class="btn btn-light my-2 my-sm-0" type="submit">Login</a>
            {% endif %}
        </div>


    </div>
</nav>
{#<nav class="navbar navbar-dark bg-dark">#}
{#    <div class="container-fluid">#}
{#        <a class="navbar-brand" href="{{ path('main') }}">Main</a>#}
{#        <div class="d-flex">#}
{#            <a class="nav-link" href="{{ path('category_list') }}"> To my profile</a>#}
{#            <a role="button" href="{{ path('logout') }}" class="btn btn-light my-2 my-sm-0" type="submit">Logout</a>#}
{#        </div>#}
{#    </div>#}
{#</nav>#}