{% extends 'base.html.twig' %}
{% block title %}Add item{% endblock %}

{% block body %}

    <div class="container">
        <div class="row d-flex justify-content-center" style="margin: 50px">
            <div class="col-md-6 col-md-offset-6 ">
                <div class="add_category">
                    {{ form_start(form) }}

                    <div>{{ form_label(form.title) }}
                        {{ form_widget(form.title) }}
                        {{ form_errors(form.title) }}
                    </div>
                    <div class="mt-2">
                        <button type="button" class="add_item_link btn btn-dark" data-collection-holder-class="tags">Add tag
                        </button></div>
                    <div class="d-flex justify-content-between mt-2">
                        <ul class="tags" data-prototype="{{ form_widget(form.tag.vars.prototype)|e('html_attr') }}">
                        </ul>
                    </div>
                    <div>
                        {{ form_widget(form.add ) }}
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

    <script>
        jQuery(document).ready(function () {
            var $tagsCollectionHolder = $('ul.tags');
            $tagsCollectionHolder.data('index', $tagsCollectionHolder.find('input').length);
            $tagsCollectionHolder.find('li').each(function() {
                addTagFormDeleteLink($(this))});
            $('body').on('click', '.add_item_link', function (e) {
                var $collectionHolderClass = $(e.currentTarget).data('collectionHolderClass');
                addFormToCollection($collectionHolderClass);
            })
        });

        function addFormToCollection($collectionHolderClass) {

            var $collectionHolder = $('.' + $collectionHolderClass);
            var prototype = $collectionHolder.data('prototype');
            var index = $collectionHolder.data('index');
            var newForm = prototype;
            newForm = newForm.replace(/__name__/g, index);
            $collectionHolder.data('index', index + 1);
            var $newFormLi = $('<li class="d-inline-flex justify-content-between mt-2"></li>').append(newForm);
            addTagFormDeleteLink($newFormLi);
            $collectionHolder.append($newFormLi)
        }

        function addTagFormDeleteLink($tagFormLi) {
            var $removeFormButton = $('<button type="button" class="btn btn-dark btn-sm">Delete</button>');
            $tagFormLi.append($removeFormButton);
            $removeFormButton.on('click', function(e) {
                $tagFormLi.remove();
            });
        }
    </script>
{% endblock %}
