{% extends 'user/base_user.html.twig' %}
{% block title %}Registration{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row d-flex justify-content-center" style="margin: 50px">
            <div class="col-md-6 col-md-offset-6 ">
                <h3>Registration</h3>
                {{ form_start(form) }}
                <div class="mb-3">
                    {{ form_label(form.name) }}
                    {{ form_widget(form.name) }}
                    {{ form_errors(form.name) }}
                </div>
                <div class="mb-3">
                    {{ form_label(form.email) }}
                    {{ form_widget(form.email) }}
                    {{ form_errors(form.email) }}
                </div>
                <div class="mb-3">
                    {{ form_label(form.password) }}
                    {{ form_widget(form.password) }}
                    {{ form_errors(form.password) }}
                </div>
                {{ form_widget(form.register ) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}